@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope', sans-serif;
}

.inspect {
    border: solid red 1px;
}

#generator {
    width: 540px;
    height: 335px;
}

.tracking-sm {
    letter-spacing: 3px;
}

#dice-button {
    height: 65px;
    width: 65px;
}

.offset-position {
    position: absolute;
    top: 15px;
}

/* #dice-button:hover {
    box-shadow: 120px 80px 40px 20px #0ff;
} */